.modal
    .modal-backdrop(ng-click="$ctrl.close()")
    .modal-window: form.form(ng-submit="$ctrl.form.submit()")
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()")
        .modal-header(ng-bind="$ctrl.modal.scope.entity.id ? 'Edit booking accommodation' : 'Add booking accommodation'")
        .modal-body
            .modal-section.modal-section-light: .row: .col.col-10.col-xs-12
                .row
                    .col.col-12.col-xs-12.form-group
                        label.form-label Api url
                        input(type="text" ng-model="$ctrl.form.values.api_url").form-control

                    //- .col.col-6.col-xs-12.form-group
                        label.form-label Accommodation
                        select(
                            ng-change="$ctrl.changeAccommodation($ctrl.form.values.accommodation_id)"
                            ng-model="$ctrl.form.values.accommodation_id"
                            ng-options="accommodation.id as accommodation.name for accommodation in $ctrl.accommodations").form-control
                        .form-error(ng-repeat="err in $ctrl.form.errors.accommodation_id" ng-bind="err")

            //- .modal-section.modal-section-light: .row: .col.col-10.col-xs-12
                

        .modal-footer.text-center
            button.button.button-primary(type="submit") Submit
            button.button.button-default(type="button" ng-click="$ctrl.close()") Close