head
    meta(charset="UTF-8")
    title 
        | Quick Dev Template - 
        | #{"(gulp, browser-sync, scss, jade, bootstrap 3, jquery, mdi, angular, underscore, underscore.string)"}

    //- disable resize on mobiles
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

    //- fonts (Montserrat)
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap")

    //- material design icons (by google)
    if (qdt_c.platform.libs.mdi)
        link(rel="stylesheet", href="assets/dist/mdi/css/materialdesignicons.min.css")

    //- bootstrap 3
    if (qdt_c.platform.libs.bootstrap_3)
        link(rel="stylesheet", href="assets/dist/bootstrap/css/bootstrap.min.css")

    //- angular csp (cloack)
    if (qdt_c.platform.libs.angular)
        link(rel="stylesheet", href="assets/dist/angular/angular-csp.css")

    //- custom style
    link(rel="stylesheet", href="assets/css/style.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/monokai.min.css")