@import 'includes/vars';
@import 'includes/helpers';
@import 'includes/resetter';
@import 'includes/placeholders';
@import 'includes/third-party';

// COMMON
@import 'includes/common';

// ELEMENTS
@import 'elements/accordion';
@import 'elements/tabs';
@import 'elements/grid';
@import 'elements/elements';
@import 'elements/links';
@import 'elements/divider';
@import 'elements/tables';
@import 'elements/colors';
@import 'elements/embed';

// DEV PAGES
@import 'includes/dev-pages';

body {
    main {
        padding-left: 15px;
        padding-right: 15px;
    }

    .center-wrapper {
        max-width: 1180px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.block {
    @import 'blocks/block-dashboard';
}