.accordion {
    &.accordion-navbar {
        &.inner {
            margin-left: 10px;
        }
        
        .accordion-item {
            &.active {
                & > .accordion-head {
                    .accordion-arrow {
                        svg {
                            transform: rotate(-180deg);
                            @include trans;
                        }
                    }

                    .accordion-link {
                        color: $blue;
                        @include trans;

                        &:before {
                            content: '\F76F';
                            color: $blue;
                            @include trans;
                        }
                    }
                }
            }

            .accordion-head {
                display: inline-flex;
                align-items: center;
                flex: 1 1 100%;
                padding: 5px 0;
                cursor: pointer;

                & > * {
                    margin-right: 10px;

                    &:last-child {
                        margin-right: 0;
                    }
                }

                .accordion-arrow {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: fit-content;

                    svg {
                        max-width: 8px;
                        max-height: 8px;
                        transform: rotate(-90deg);
                        @include trans;

                        path {
                            stroke: #2f2e43;
                            @include trans;
                        }
                    }
                }

                .accordion-link {
                    display: inline-flex;
                    align-items: center;
                    flex: 1 1;
                    color: #2f2e43;
                    font: 600 12px $bf;
                    cursor: pointer;
                    @include trans;

                    span {
                        color: inherit;
                        font: inherit;
                    }

                    &:before {
                        display: inline-block;
                        content: '\F24B';
                        color: #6f747e;
                        font: normal normal normal 24px/1 "Material Design Icons";
                        font-size: 1.4em;
                        text-rendering: auto;
                        line-height: inherit;
                        margin-right: 5px;
                        @include trans;
                    }
                }

                &:hover {
                    .accordion-link {
                        color: $lightblue;
                        @include trans;

                        &:before {
                            color: $lightblue;
                            @include trans;
                        }
                    }
                }
            }
        }
    }

    .accordion-item {
        &.active {
            & > .accordion-body {
                display: block;
            }
        }

        .accordion-body {
            display: none;
        }
    }
}