.navbar-overlay {
    position: relative;

    &:after {
        position: absolute;
        content: '';
        width: 50vw;
        height: 100vh;
        top: 0;
        right: 0;
        background-color: #F6F7FB;
        z-index: -1;
    }
}