.link {
    &.link-logout {
        display: inline-flex;
        align-items: center;
        width: fit-content;
        color: #2f2e43;
        font: 500 13px $bf;
        cursor: pointer;
        @include trans;

        & > * {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }

        img {
            filter: grayscale(100%);
            @include trans;
        }

        span {
            color: inherit;
            font: inherit;
        }

        &:hover {
            color: #150ae9;
            @include trans;

            img {
                filter: grayscale(0);
                @include trans;
            }
        }
    }
}