.tabs {
    &.tabs-navbar {
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;

        .tab-link {
            display: inline-flex;
            align-items: center;
            position: relative;
            width: 100%;
            color: #2f2e43;
            font: 600 12px $bf;
            padding: 5px 5px 5px 60px;
            cursor: pointer;
            @include trans;

            &.active {
                color: $blue;
                @include trans;
                
                svg {
                    opacity: 1;
                    @include trans;
                }
            }

            & > * {
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }

            span {
                flex: 1 1;
                color: inherit;
                font: inherit;
            }

            svg {
                max-width: 16px;
                max-height: 16px;
                opacity: 0;
                @include trans;

                path {
                    stroke: #9FA4B3;
                }
            }

            .label {
                position: absolute;
                top: 6px;
                right: calc(100% - 60px);
                margin-right: 5px;
            }

            &:hover {
                color: #150ae9;
                @include trans;
            }
        }
    }
}

.tab-content {
    display: none;

    &.active {
        display: block;
    }
}