* , :after, :before{
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
    -webkit-font-smoothing: antialiased !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, span, b, i, li, td{
    font-family: $bf;
}

h1, h2, h3, h4, h5, h6 {
    color: #2f2e43;
    font-weight: 600;

    a, span, strong, b {
        color: inherit;
        font: inherit;
    }

    strong { font-weight: 600; }

    b { font-weight: 700; }
}

h1 { font-size: 48px; }

h2 { font-size: 36px; }

h3 { font-size: 28px; }

h4 { font-size: 24px; }

h5 { font-size: 20px; }

h6 { font-size: 18px; }

ul, ol {
    padding-left: 16px;
    margin: 0;

    li {
        color: #45535e;
        font: 400 13px/22px $bf;
    }
}

pre {
    background: #f8f8f8;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    font-family: monospace !important;

    * {
        font-family: inherit;
        font-size: 14px;
        line-height: 20px;
    }
}

p, b, strong, span {
    color: #45535e;
    font: 400 13px/22px $bf;
}

a {
    color: $blue;
    font: 700 13px/22px $bf;
    text-decoration: underline;
    cursor: pointer;
    @include trans;

    &:hover {
        color: $lightblue;
        text-decoration: none;
        @include trans;
    }
}

b { font-weight: 700; }

strong { font-weight: 600; }

hr {
    margin-top: 0;
    margin-bottom: 25px;
    border: none;
    border-top: 1px solid #dfe4ec;
}