/*==========  Style Sheet - Vars  ==========*/

// base font
$bf: 'Montserrat', arial, sans-serif;

// text color
$tc: #45535e;

// base color
$bc: #d13b3b;

// placeholder text color
$ptc:#736666;

$colorA: #04591E;
$colorALight: #07882F;
$colorB: #44E5D0;
$colorCLight: #00617F;
$colorC: #06123D;

$blue: #150ae9;