doctype
html(lang="en")
    include includes/head
    include includes/dev-pages
    include includes/templates/navbar
    include includes/templates/mixins
    include includes/templates/accordions

    body 
        .overflow-wrapper 
            block content

        include includes/scripts