doctype
html(lang="en")
    include includes/head
    
    body(modal-scroll-braker)
        //- include includes/dev-pages
        include includes/header
        block content
        
        //- modals
        modals-root
        
        include includes/footer
        include includes/scripts