&.block-dashboard {
    position: relative;
}

.dashboard-navbar {
    padding-top: 20px;
    padding-bottom: 20px;

    & > * {
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.dashboard-content {
    padding: 20px;
}