.navbar-footer
    .navbar-footer-copyleft
        .navbar-footer-copyleft-logo: img(src="./assets/img/logo-rminds.min.svg")
        | Designed and developed for the opensource community by 
        a(href="https://rminds.nl" target="_blank") Rocket Minds