mixin tabs_navbar 
    - var tabs = [{'data': 'tab1', 'color': 'green', 'label': 'Get', 'name': 'Tab name'}, {'data': 'tab2', 'color': 'orange', 'label': 'Post', 'name': 'Tab name'}, {'data': 'tab3', 'color': 'grey', 'label': 'Patch', 'name': 'Tab name'}, {'data': 'tab4', 'color': 'red', 'label': 'Delete', 'name': 'Tab name'}]

    ul.tabs.tabs-navbar(tabs)
        each tab in tabs
            li.tab-link(data-tab=tab.data)
                .label(class=tab.color)=tab.label
                span=tab.name
                include ../../../../resources/assets/img/icons/arrow-long-right-regular.svg

mixin accordion_navbar
    - var x = 5;

    .accordion.accordion-navbar(accordion)
        - for (var i = 0; i < x; i++) {
            .accordion-item 
                .accordion-head 
                    .accordion-arrow: include ../../../../resources/assets/img/icons/angle-down-regular.svg
                    .accordion-link 
                        img(src="assets/img/folder-icon.png", alt="")
                        span Page name
                
                .accordion-body: +tabs_navbar
        - }